In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('DadosFinanceiros.xlsx')

In [3]:
df.head()

,Tipo,Componente,01/01/2019,01/02/2019,01/03/2019,01/04/2019,01/05/2019,01/06/2019,01/07/2019,01/08/2019,...,01/03/2022,01/04/2022,01/05/2022,01/06/2022,01/07/2022,01/08/2022,01/09/2022,01/10/2022,01/11/2022,01/12/2022
0,Receitas,Vendas,"30000,00","32456,90","33128,34","33560,00","33890,76","34200,00","34300,00","34500,00",...,"43000,00","43000,00","43000,00","43000,00","43000,00","43000,00","43000,00","43000,00","51500,00","51500,00"
1,Receitas,Aluguéis,"1000,00","1234,00","1267,00","1267,00","1267,00","1300,00","1340,00","1500,00",...,"4000,00","4000,00","4000,00","4000,00","6000,00","6000,00","6000,00","6000,00","6000,00","6000,00"
2,Receitas,Licenciamento,"5000,00","5000,00","5000,00","5000,00","5000,00","5000,00","5000,00","5000,00",...,"7000,00","7000,00","7000,00","7000,00","7000,00","7000,00","7000,00","7000,00","8000,00","8000,00"
3,Receitas,Franquias,"2000,00","2000,00","2000,00","2000,00","2000,00","2000,00","2000,00","2100,00",...,"1400,00","1400,00","2000,00","2000,00","1000,00","1000,00","1000,00","1000,00","2000,00","1000,00"
4,Receitas,Investimentos,"2000,00","2000,00","2000,00","2000,00","2000,00","2000,00","2000,00","2000,00",...,"2500,00","2500,00","2500,00","2000,00","2000,00","2000,00","2000,00","2000,00","2500,00","2500,00"

In [4]:
date_columns = df.columns[2:]

In [5]:
df[date_columns] = df[date_columns].replace({',':'.'}, regex=True).apply(pd.to_numeric)

In [6]:
df_melted = df.melt(id_vars=['Tipo', 'Componente'], var_name='Data', value_name='Valores')

In [8]:
df_melted.head()

       Tipo     Componente        Data  Valores
0  Receitas         Vendas  01/01/2019  30000.0
1  Receitas       Aluguéis  01/01/2019   1000.0
2  Receitas  Licenciamento  01/01/2019   5000.0
3  Receitas      Franquias  01/01/2019   2000.0
4  Receitas  Investimentos  01/01/2019   2000.0

In [10]:
df_melted.to_excel('DadosFinanceiros2.xlsx', index='False')