In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('UK Average Ratings of Personal Well-being 2012-2023.csv')

In [9]:
df.head()

,Area Names,Area Codes,Time Period,Happiness,Worthwhile,Anxiety,Life Satisfaction,Unit,Notes,Data Description
0,Haringey,E09000014,April 2014 to March 2015,7.27,7.63,3.00,7.38,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye..."
1,Mid Ulster,N09000009,April 2013 to March 2014,7.82,7.93,2.80,7.77,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye..."
2,Swansea / Abertawe,W06000011,April 2016 to March 2017,7.41,7.68,3.18,7.53,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye..."
3,Sedgemoor,E07000188,April 2012 to March 2013,7.04,7.76,3.46,7.64,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye..."
4,Windsor and Maidenhead,E06000040,April 2015 to March 2016,7.67,7.97,2.98,7.83,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye..."

In [10]:
# Função para converter o período em duas datas no formato dd/mm/yyyy
def split_time_period(period):
    # Separar os períodos com base no "to"
    start_period, end_period = period.split(' to ')
    
    # Converter o mês e ano do início e do fim para o formato desejado
    start_date = pd.to_datetime(start_period + ' 01', format='%B %Y %d').strftime('%d/%m/%Y')
    
    # Para o final do período, pegar o último dia do mês
    end_date = pd.to_datetime(end_period + ' 01', format='%B %Y %d') + pd.offsets.MonthEnd(0)
    end_date = end_date.strftime('%d/%m/%Y')
    
    return start_date, end_date

In [11]:
df[['Start data', 'End data']] = df['Time Period'].apply(lambda x: pd.Series(split_time_period(x)))

In [12]:
df.head()

,Area Names,Area Codes,Time Period,Happiness,Worthwhile,Anxiety,Life Satisfaction,Unit,Notes,Data Description,Start data,End data
0,Haringey,E09000014,April 2014 to March 2015,7.27,7.63,3.00,7.38,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye...",01/04/2014,31/03/2015
1,Mid Ulster,N09000009,April 2013 to March 2014,7.82,7.93,2.80,7.77,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye...",01/04/2013,31/03/2014
2,Swansea / Abertawe,W06000011,April 2016 to March 2017,7.41,7.68,3.18,7.53,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye...",01/04/2016,31/03/2017
3,Sedgemoor,E07000188,April 2012 to March 2013,7.04,7.76,3.46,7.64,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye...",01/04/2012,31/03/2013
4,Windsor and Maidenhead,E06000040,April 2015 to March 2016,7.67,7.97,2.98,7.83,Score out of 10,1. Data are weighted mean averages. 2. Due to ...,"Average ratings of personal well-being, UK, ye...",01/04/2015,31/03/2016

In [13]:
df.to_csv('UK Average Ratings of Personal Well-being 2012-2023 - 2.csv', index=False)